<!DOCTYPE html>

<html lang="en">

<head>
    <title>{% block title %}{% endblock %} - Tanay PrabhuDesai</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block above_the_fold %}{% endblock %}
</head>

<body class="scrubBack navyFont">
    <div id="heading" class="navyBack scrubFont">
        <h1>Tanay PrabhuDesai</h1>
        <nav id="main-menu">
            <a class="nav-button {% if nav_button == 'home'  %}
                active
            {% endif %}
             lightFont" href="#home">Home</a>
            <a class="nav-button {% if nav_button == 'blog'  %}
                active
            {% endif %} lightFont" href="/blog">Blog</a>
            <a class="nav-button {% if nav_button == 'resume'  %}
                active
            {% endif %} lightFont" href="/resume">Résumé</a>
            <a class="nav-button {% if nav_button == 'about'  %}
                active
            {% endif %} lightFont" href="/resume">About Me</a>
        </nav>
    </div>
    <div id="main-content">{% block main_content %}{% endblock %}</div>
    <div class="footer">
        <p>&copy; 2017 Tanay PrabhuDesai</p>
        <p>All the content on this site is licensed under Creative Commons 4.0 BY-SA and the code is licensed under MIT License unless explicitly stated</p>
    </div>
    <noscript id="deferred">
        {% block deferred %}{% endblock %}
    </noscript>
    <script>
        let loadDeferredStyles = function() {
            let addStylesNode = document.getElementById("deferred");
            let replacement = document.createElement("div");
            replacement.innerHTML = addStylesNode.textContent;
            document.body.appendChild(replacement);
            addStylesNode.parentElement.removeChild(addStylesNode);
        };
        let raf = requestAnimationFrame || mozRequestAnimationFrame ||
            webkitRequestAnimationFrame || msRequestAnimationFrame;
        if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
        else window.addEventListener('load', loadDeferredStyles);
    </script>
</body>
{% block meta_vars %}{% endblock %}
</html>
