{% extends "base.html" %}

{% block title %}Blogs{% endblock %}
{% block above_the_fold %}
    <link rel="stylesheet" href="{{ css_file_path }}">
{% endblock %}
{% block main_content %}
        {%  for page_path in titles %}
            {% set date = page_path.split('/')[2:][:3] %}
            <p class="blog-date">{{ date[0] }}/{{ date[1] }}/{{ date[2] }} <a class="blog-title" href="{{ page_path }}">{{ titles[page_path] }}</a></p>
            <p class="blog-description">{{ description[page_path] }}</p>
            <br>
        {% endfor %}
{% endblock %}
{% block deferred %}
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
{% endblock %}