{% extends "base.html" %}

{% block title %}Blogs{% endblock %}
{% block above_the_fold %}
    <link rel="stylesheet" href="{{ css_file_path }}">
{% endblock %}
{% block main_content %}
    <ul>
    {%  for page_path in titles %}
        <li>
            <a class="blog-title" href="{{ page_path }}">{{ titles[page_path] }}</a>
            <p class="blog-description">{{ description[page_path] }}</p>
            <br>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
{% block deferred %}
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
{% endblock %}