/*
    CSS to actually format the text
*/

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    min-height: 100%;
}

#heading {
    top: 0;
    left: 0;
    right: 0;
    margin-top: 0;
    padding-top: 0;
    position: fixed;
}

#main-content {
    text-align: justify;
}

#social-media-links {
    align-content: center;
}

a.nav-button {
    text-transform: uppercase;
    text-decoration: none;
}

a:link.darkFont {
    color: #3F3250;
}

a:visited.darkFont {
    color: #3F3250;
}

a:hover.darkFont {
    color: #000000;
    transition: 1s;
    -webkit-transition: 1s;
}

a:active.darkFont {
    color: #3F3250;
}

a:link.lightFont {
    color: #4f4a42;
}

a:visited.lightFont {
    color: #4f4a42;
}

a:hover.lightFont {
    color: #FFFFFF;
    transition: 1s;
    -webkit-transition: 1s;
}

a:active.lightFont {
    color: #4f4a42;
}

a.active.lightFont {
    color: #FFFFFF;
}

#main-content #social-media-links {
    text-align: center;
}

#home {
    text-decoration: underline;
}

.footer {
    position: inherit;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}