@media only screen and (min-width: 1024px) {

    #heading {
        text-align: center;
        /*height: 90px;*/
    }

    #heading h1 {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 30px;
    }

    #main-menu .nav-button {
        text-align: center;
        padding-left: 30px;
        padding-right: 30px;
    }

    #main-content {
        margin-top: 100px;
        min-height: 100%;
    }

    #main-content p {
        font-size: 25px;
        margin-top: 30px;
    }

    #main-content #social-media-links {
        text-align: center;
    }

    #main-content #social-media-links i {
        font-size: 100px;
        margin-left: 40px;
        margin-right: 40px;
    }

    #main-content .blog-title {
        font-size: 20px;
    }

    #main-content .blog-description {
        font-size: 15px;
    }

    .wrapper {
        margin-bottom: calc(-30px - 100px - 30px);
    }

    footer, .push {
        text-align: center;
        height: 30px;
        line-height: 5px;
    }
}