{% extends 'blog_base.html' %}
{% from 'components/image.html' import image_center %}
{% block blog_content %}
<p>This is some text</p>
<p>This is some other text</p>
<!-- Basic arithematic -->
<pre><code class="python">

</code></pre>
<pre><code class="java">

</code></pre>
<pre><code class="scheme">

</code></pre>
<!-- Simple functions -->
<pre><code class="python">

</code></pre>
<pre><code class="java">

</code></pre>
<pre><code class="scheme">

</code></pre>
<!-- Conditional -->
<pre><code class="python">

</code></pre>
<pre><code class="java">

</code></pre>
<pre><code class="scheme">

</code></pre>
<!-- List operation: get length -->
<pre><code class="python">

</code></pre>
<pre><code class="java">

</code></pre>
<pre><code class="scheme">

</code></pre>
<!-- list operation: reverse -->
<pre><code class="python">

</code></pre>
<pre><code class="java">

</code></pre>
<pre><code class="scheme">

</code></pre>
<!-- list operation: append -->
<pre><code class="python">

</code></pre>
<pre><code class="java">

</code></pre>
<pre><code class="scheme">

</code></pre>
<!-- list operation: head -->
<pre><code class="python">

</code></pre>
<pre><code class="java">

</code></pre>
<pre><code class="scheme">

</code></pre>
<!-- list operation: tail -->
<pre><code class="python">

</code></pre>
<pre><code class="java">

</code></pre>
<pre><code class="scheme">

</code></pre>
<!-- list operation: cons (append to head) -->
<pre><code class="python">

</code></pre>
<pre><code class="java">

</code></pre>
<pre><code class="scheme">

</code></pre>
<!-- some simple implementations fibonacci -->
<pre><code class="python">

</code></pre>
<pre><code class="java">

</code></pre>
<pre><code class="scheme">

</code></pre>
<!-- some simple implementations find an element -->
<pre><code class="python">

</code></pre>
<pre><code class="java">

</code></pre>
<pre><code class="scheme">

</code></pre>
<!-- some simple implementations sort a list -->
<pre><code class="python">

</code></pre>
<pre><code class="java">

</code></pre>
<pre><code class="scheme">

</code></pre>
<!-- some simple implementations list to a BST -->
<pre><code class="python">

</code></pre>
<pre><code class="java">

</code></pre>
<pre><code class="scheme">

</code></pre>
<!-- input and output stdio -->
<pre><code class="python">

</code></pre>
<pre><code class="java">

</code></pre>
<pre><code class="scheme">

</code></pre>
<!-- writing tests (testing framework) -->
<pre><code class="python">

</code></pre>
<pre><code class="java">

</code></pre>
<pre><code class="scheme">

</code></pre>
{% endblock %}

