{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block above_the_fold %}
    <link rel="stylesheet" href="{{ css_file_path }}" type="text/css">
{% endblock %}
  {% block main_content %}
      <div id="social-media-links">
          <a class="darkFont" target="_blank" href="https://facebook.com/tanayseven"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a class="darkFont" target="_blank" href="https://plus.google.com/+TanayPrabhuDesai"><i class="fa fa-google" aria-hidden="true"></i></a>
          <a class="darkFont" target="_blank" href="https://twitter.com/tanayseven"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a class="darkFont" target="_blank" href="https://github.com/tanayseven"><i class="fa fa-github" aria-hidden="true"></i></a>
      </div>
      <p>
          Hi, I'm Tanay PrabhuDesai.
      </p>
      <p>
          I'm a software engineer based in Pune, India.
      </p>
  {% endblock %}
{% block deferred %}
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
{% endblock %}
