<div id="about">
  <h4 class="center">About me</h4>
  <div class="card">
    <p class="flow-text card-content">
      I am passionate about software engineering from a very young age. It all started from age of 3 when
      I used to play games on a computer which was a DOS computer. I eventually got obssesed with becoming a software engineer.
      Around the age of 17 I got a chance to run my first "Hello World" program in C and then never stopped programming.
    </p>
  </div>
</div>
