<div id="about">
  <h4 class="center">Some of the things that I love doing"</h4>
  <ul class="collapsible">
  {{
    key_highlights(
      "fas fa-code",
      "Programmer by heart and soul",
      "Something I love doing a lot not just professionally but also as a hobby is programming. It gives me a lot of joy and a sandbox for my creative mind."
    )
  }}
  {{
    key_highlights(
      "fab fa-python",
      "Python Programming Language",
      "Python is the language that I know the most and have done lot of development in it. I use it as my primary language or main language."
    )
  }}
  {{
    key_highlights(
      "far fa-sticky-note",
      "Problem Solving/Consulting",
      "I love solving challenging problems using software and even more solving a problem collaboratively in a group."
    )
  }}
  {{
    key_highlights(
      "fas fa-vial",
      "Testing and Test Driven Development",
      "I have a preference towards driving a software projects using tests and make it as robust and foolproof as possible."
    )
  }}
  {{
    key_highlights(
      "fas fa-globe",
      "Web Development",
      "The one technical domain that I am well worse with is Web Development and know the deep internals of it."
    )
  }}
  </ul>
</div>
