<div id="about">
  <h4 class="center">About me</h4>
  <div class="card">
    <p class="flow-text card-content">
      I am passionate about software engineering from a very young age. It all started from age of 3 when
      I used to play games on a computer which was a DOS computer. I eventually got obssesed with becoming a software engineer.
      Around the age of 17 I got a chance to run my first "Hello World" program in C and then never stopped programming.
      I don't just do programming for a living but I also do a lot of programming at free time or as a hobby. I love reading
      up about things related to science/tech and space and watch videos on YouTube about the same. I am 
      a wannabe polymath and probably will be one throughout my life.
    </p>

    <p class="flow-text card-content">
      I love writing programs which are games. So if you wanna collaborate, you can ask me and I would love to
      pick up and work on a project. I'm also a huge follower of good programming practices and good engineering
      practices and I love to advocate them. A big lover of declarative/functional languages, but okay to work with almost
      any languages.
    </p>
  </div>
</div>
