<div id="blog">
  <h4 class="center">My blog, the place I call my public diary</h4>
  {% for obj in objs %}
  <div class="card">
    <div class="card-panel blog-list-card">
      <div class="grey-text">{{ date_from_name(obj.id) }}</div>
      <a href="{{ '/blog/' + obj.id + '.html' }}" >
        <div>{{ obj.title }}</div>
      </a>
      <div>{{ obj.description }}</div>
    </div>
  </div>
  {% endfor %}
  <span class="center">
    <a class="waves-effect waves-light btn">See all blogs</a>
  </span>
</div>