{% from 'components/looking_for_work.html.j2' import looking_for_work %}
<div id="top" class="card-panel white">
  <div class="center">
  <h3>Hello, I'm Tanay PrabhuDesai</h3>
  </div>
  <div class="center about-profile-image-container">
  <img
    id="about-profile-image"
    class="responsive-img center"
    alt="About profile image"
    src="/res/images/profile/tanay-profile.svg"
  />
  </div>
  <h4 class="black-text center">
  I'm a Software Engineer based in Pune, India
  </h4>
  <div class="center">
    <img src="https://ghchart.rshah.org/tanayseven" alt="github chart tanayseven">
  </div>
  {{ looking_for_work(False) }}
</div>