<div id="work">
  <h4 class="center">Work Experience</h4>
  {{
    work_experience_card(
      'e-Zest Solutions Ltd',
      'Software Consultant',
      'March 2018 to June 2018',
      'Worked on helping one of the team with good practices and software development processes. Conducted trainings and helped the team with different issues they faced in delivery of requirements.'
    )
  }}
  {{
    work_experience_card(
      'Technogise Software Solutions LLP',
      'Software Developer',
      'November 2017 to February 2018',
      'Worked on a back end of e-Commerce logistic application. The tech stack consisted of PHP Laravel with Postgres for the backend and React with backbone for the front end. All this was run in a Docker environment and deployed to different servers using Kubernetes.'
    )
  }}
  {{
    work_experience_card(
      'Red Panda Pvt Ltd',
      'Software Engineer',
      'September 2016 to October 2017',
      'Worked on web applicaion consisting of supply chain and e-Commerse sales of which the tech stack consisted of Python Flask, Bootstrap jQuery for the admin dashboard. Also worked on a customer facing mobile app written in ClojureScript deployed using Cordova. And later worked on Native Android app written in Java. In this I was involved in pairing with freshers and training them in best practices like TDD and Clean Code.'
    )
  }}
  {{
    work_experience_card(
      'Nelkinda Software Craft Pvt Ltd',
      'Software Craftsman',
      'October 2016 to Now',
      'Worked with a lot of differernt organizations as a contractor throught Nelkinda and did software consultancy and training for the companies which needed it.'
    )
  }}
  {{
    work_experience_card(
      'Nelkinda Software Craft Pvt Ltd',
      'Intern',
      'August 2016 to September 2016',
      'Worked on scraping names of scientists from the web using Python scripts and learnt a lot of Make. Project worked on was http://baotd.com/ (Basass Of The Day)'
    )
  }}
  {{
    work_experience_card(
      'Tata Consultancy Services',
      'Intern',
      'December 2013 to January 2014',
      'Worked on profiling an embedded application written for Windows Embedded Standard 7 Technology used to develop was C# and profilers used were Red Gate ANTS and CLR'
    )
  }}
</div>