{% extends "base.html" %}
{% set page_type = 'blog_post' %}
{% set title = 'Tanay PrabhuDesai - Blogs' %}
{% block content %}
  <div>
    <h3>My blog, the place I call my public diary</h3>
    {% for obj in objs %}
    <div class="row">
      <div class="card-panel blog-list-card">
        <div class="grey-text">{{ date_from_name(obj.id) }}</div>
        <a href="{{ '/blog/' + obj.id + '.html' }}" >
          <div>{{ obj.title }}</div>
        </a>
        <div>{{ obj.description }}</div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
