{% extends "base.html.j2" %}
{% set page_type = 'blog_post' %}
{% block content %}
  <div class="card-panel white">
    <h4 class="center">{{ title }}</h4>
    <div class="black-text normal-paragraph-text">
    {% block blog_content %}{% endblock %}
    </div>
  </div>
{% endblock %}
