{% extends "base.html" %}
{% set active_button = 'blog' %}
{% set title = 'Tanay PrabhuDesai - Blogs' %}
{% block content %}
  <div>
    <span>My blog, this is a place I call my public diary</span>
    <div class="row">
      <div class="card">
        <div class="card-image">
          {/* <img src={post.thumb} /> */}
        </div>
        <div class="card-content">
          <span class="card-title">{post.title}</span>
          {/* <span class="text-gray">{post.date}</span> */}
          {/* {post.body} */}
        </div>
        <div class="card-action">
          <a href={'/blog/post/' + post.current_page_name} >Read</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
