{% extends "base.html" %}
{% from 'components/key_highlight.html' import key_highlights %}
{% from 'components/work_experience.html' import work_experience_card %}
{% set title = 'Tanay PrabhuDesai' %}
{% block content %}
  <div class="row">
    {% include 'sections/self.html' %}
    <div class="separator"></div>
    {% include 'sections/about.html' %}
    <div class="separator"></div>
    {% include 'sections/blogs.html' %}
    <div class="separator"></div>
    {% include 'sections/work.html' %}
    <div class="separator"></div>
    <div id="contact"></div>
  </div>
{% endblock %}
