{% macro navbar(active_button) -%}
  <div>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <div class="container">
            <a href="#" class="brand-logo">Tanay PrabhuDesai</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li {% if active_button == 'home' %}class="active"{% endif %}><a href="/">Home</a></li>
              <li {% if active_button == 'resume' %}class="active"{% endif %}><a href="/resume" >Résumé</a></li>
              <li {% if active_button == 'blog' %}class="active"{% endif %}><a href="/blog">Blog</a></li>
              <li {% if active_button == 'about' %}class="active"{% endif %}><a href="/about">About Me</a></li>
            </ul>
          </div>
          </div>
      </nav>
    </div>
  </div>
{%- endmacro %}
