{% macro navbar(active_button) -%}
  <div>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <div class="container">
            <a href="#" class="brand-logo hide-on-small-and-down">Tanay PrabhuDesai</a>
            <a href="#" data-target="slide-out" class="left brand-logo sidenav-trigger show-on-medium-and-down">
              <i class="fas fa-bars"></i>
            </a>
            <ul class="right hide-on-med-and-down">
              <li {% if active_button == 'about' %}class="active"{% endif %}><a href="/">About Me</a></li>
              <li {% if active_button == 'resume' %}class="active"{% endif %}><a href="/resume" >Résumé</a></li>
              <li {% if active_button == 'blog' %}class="active"{% endif %}><a href="/blog">Blog</a></li>
            </ul>
          </div>
          </div>
      </nav>
      <ul id="slide-out" class="sidenav">
        <li {% if active_button == 'home' %}class="active"{% endif %}><a href="/">Home</a></li>
        <li {% if active_button == 'resume' %}class="active"{% endif %}><a href="/resume" >Résumé</a></li>
        <li {% if active_button == 'blog' %}class="active"{% endif %}><a href="/blog">Blog</a></li>
        <li {% if active_button == 'about' %}class="active"{% endif %}><a href="/about">About Me</a></li>
      </ul>
      <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </div>
{%- endmacro %}
