/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
    New css to actually format the text
*/

body {
    background-color: #212121;
    color: #C5C5C5;
    font-family: Roboto, serif;
}

h1 {
    font-size: 45px;
}

h3 {
    font-size: 35px;
}

#main-menu {
    padding-top: 10px;
    padding-bottom: 10px;
}

#heading {
    overflow: visible;
    left: 0;
    right: 0;
    position: fixed;
    background-color: rgba(32, 43, 204, 0.78);
}

#main-content {
    text-align: justify;
}

#social-media-links {
    align-content: center;
}

a.nav-button {
    color: #565656;
    text-transform: uppercase;
    font-size: 20px;
    padding: 15px;
    text-decoration: none;
}

a.nav-button.active {
    color: #ffffff;
}

a.nav-button:hover {
    color: #ffffff;
    transition: 1s;
    -webkit-transition: 1s;
}

#main-content #social-media-links a:link {
    color: #565656;
}

#main-content #social-media-links a:visited {
    color: #565656;
}

#main-content #social-media-links a:hover {
    color: #ffffff;
    transition: 1s;
    -webkit-transition: 1s
}

#main-content #social-media-links a:active {
    color: #ffffff;
}

@media only screen and (min-width: 1024px) {
    #heading {
        text-align: center;
        padding: 0;
        margin-right: 100px;
        margin-left: 100px;
        margin-top: 3px;
        /*width: 100%;*/
    }

    #main-menu {
        text-align: center;
    }

    #main-content {
        padding-top: 100px;
        padding-left: 100px;
        padding-right: 100px;
    }

    #main-content p {
        font-size: 25px;
        margin-top: 30px;
    }

    #main-content #social-media-links {
        text-align: center;
    }

    #main-content #social-media-links i {
        font-size: 100px;
        margin-left: 40px;
        margin-right: 40px;
    }
}

@media only screen and (max-width: 1024px) {
    #heading {
        text-align: center;
        padding-left: 100px;
        padding-right: 100px;
        padding-top: 3px;
        width: 80%;
    }

    #main-menu {
        text-align: center;
    }

    #main-content {
        padding-top: 100px;
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media only screen and (max-width: 480px) {

}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 480px) {

}

@media only screen and (max-width: 320px) {

}

#home {
    text-decoration: underline;
}
