/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    position: absolute;
    line-height: 1;
    min-height: 100%;
    width: 100%;
    font-family: Roboto, serif;
}

html {
    height: 100%;
    width: 100%;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
    Color scheme
 */

.coralFont {
    color: #E14658;
}

.navyFont {
    color: #22252C;
}

.mountainFont {
    color: #3F3250;
}

.scrubFont {
    color: #C0B3A0;
}

.coralBack {
    background-color: #E14658;
}

.navyBack {
    background-color: #22252C;
}

.mountainBack {
    background-color: #3F3250;
}

.scrubBack {
    background-color: #C0B3A0;
}

/*
    New css to actually format the text
*/

h1 {
    font-size: 45px;
}

h3 {
    font-size: 35px;
}

#main-menu {
    padding-top: 10px;
    padding-bottom: 10px;
}

#heading {
    overflow: visible;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
}

#main-content {
    text-align: justify;
    margin-bottom: 30px;
}

#social-media-links {
    align-content: center;
}

a.nav-button {
    text-transform: uppercase;
    font-size: 20px;
    padding: 15px;
    text-decoration: none;
}

a:link.darkFont {
    color: #3F3250;
}

a:visited.darkFont {
    color: #3F3250;
}

a:hover.darkFont {
    color: #000000;
    transition: 1s;
    -webkit-transition: 1s;
}

a:active.darkFont {
    color: #3F3250;
}

a:link.lightFont {
    color: #4f4a42;
}

a:visited.lightFont {
    color: #4f4a42;
}

a:hover.lightFont {
    color: #FFFFFF;
    transition: 1s;
    -webkit-transition: 1s;
}

a:active.lightFont {
    color: #4f4a42;
}

a.active.lightFont {
    color: #FFFFFF;
}

#main-content #social-media-links {
    text-align: center;
}

@media only screen and (min-width: 1024px) {
    #heading {
        text-align: center;
        padding: 0;
        margin-right: 100px;
        margin-left: 100px;
    }

    #main-menu {
        text-align: center;
    }

    #main-content {
        padding-top: 100px;
        padding-left: 100px;
        padding-right: 100px;
    }

    #main-content p {
        font-size: 25px;
        margin-top: 30px;
    }

    #main-content #social-media-links {
        text-align: center;
    }

    #main-content #social-media-links i {
        font-size: 100px;
        margin-left: 40px;
        margin-right: 40px;
    }
}

@media only screen and (max-width: 1024px) {
    #heading {
        text-align: center;
        padding-left: 100px;
        padding-right: 100px;
    }

    #main-menu {
        text-align: center;
    }

    #main-content {
        padding-top: 100px;
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media only screen and (max-width: 480px) {
    .footer {

    }
}

@media only screen and (max-width: 768px) {
    .footer {

    }
}

@media only screen and (max-width: 480px) {
    .footer {

    }
}

@media only screen and (max-width: 320px) {
    .footer {

    }
}

#home {
    text-decoration: underline;
}

.footer {
    position: inherit;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    width: 100%;
    text-align: center;
    font-size: 12px;
}