.top-bar {
  position: fixed;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

nav {
  background: #108db8;
  max-width: 780px;
  margin:0 auto;
  text-align: center;
  position: fixed;
}

.content {
  max-width: 760px;
  padding: 70px 1rem 1rem;
  margin: 0 auto;
}

.project-card {
  max-width: 250px;
  display: inline-block;
}