/*
    Color scheme
 */

.lightFont {
    color: #FFFFFF;
}

.mainBackground {
    background: #F4F4F4;
}

.darkFont {
    color: #262228;
}

.darkBackground {
    background: #24292e;
}

a:link.darkFont {
    color: #24292e;
}

a:visited.darkFont {
    color: #24292e;
}

a:hover.darkFont {
    color: #9e9e9e;
    transition: 1s;
    -webkit-transition: 1s;
}

a:active.darkFont {
    color: #9e9e9e;
}

a:link.lightFont {
    color: #9e9e9e;
}

a:visited.lightFont {
    color: #9e9e9e;
}

a:hover.lightFont {
    color: #FFFFFF;
    transition: 1s;
    -webkit-transition: 1s;
}

a.active.lightFont {
    color: #FFFFFF;
}
