.push, footer {
    text-align: center;
}

footer, .push {
    /*
    Total height is 34px out of which top and bottom padding is 2px and 15px + 15px are the two lines of text
    */
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
    line-height: 17px;
}

@media screen and (min-width: 720px) {
    footer, .push {
        /*
        Total height is 34px out of which top and bottom padding is 2px and 15px + 15px are the two lines of text
        */
        font-size: 15px;
        line-height: 17px;
        padding: 5px 30px;
    }
}