/*
    CSS to actually format the text
*/

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

#main-content {
    text-align: justify;
}

#main-content #social-media-links {
    text-align: center;
}

#main-content {
    padding-top: 100px;
    padding-bottom: 50px;
    max-width: 700px;
    margin: 0 auto;
}

#main-content p {
    font-size: 21px;
    line-height: 1.58;
    font-style: normal;
    margin-top: 30px;
}

#main-content #social-media-links i {
    font-size: 100px;
    margin-left: 40px;
    margin-right: 40px;
}

@media screen and (max-width: 760px) {
   #main-content {
       padding-left: 30px;
       padding-right: 30px;
   }
}

@media screen and (max-width: 480px) {
    #main-content {
        padding-left: 10px;
        padding-right: 10px;
    }
}
